/*@import a Google Font here!*/

body {
	background: url('../images/background.png');
	background-size: 100%;
	font-family: 'Lobster', 'cursive';
}

#container {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
/*being repeated, ng-repeat*/
.dashed {
	border: 1px dashed pink;
	border-radius: 5px;
	margin: 15px auto;
	width: 90%;
	text-align: center;

}

figure {
	text-align: center;
}

h3 {
	margin: 0 auto;
}
	
/*blue*/

.left-container, .right-container {
	display: inline-block;
	vertical-align: top;
	width: 35%;
	background-color: #fff;
	border: 2px solid cyan;
	margin: 5px;
	border-radius: 10px;
}

/*#add-cat {
	background-color: #fff;
}*/

.pic-box {
	border: 1px solid black;
}

form {
	padding: 1.5em;
	background-color: #fff;
	width: 300px;
	margin: 0 auto;
	border: 1px dashed #232323;
	border-radius: 10px;
}


img {
	max-width: 334px;
	max-height: auto;
}
input[type="checkbox"] {
	width: 20px;
}

.btn {

	display: block;
	border: none;
	padding: 6px 15px;
	color: white;
	background: none;
	outline: none;
}

.btn-delete {
	margin: 0 auto;
	/*margin-right: 5px;*/
	border-radius: 5px;
	background-color: #F04A2A;
	color: white;
	border: 1px solid #F04A2A;
	width: 150px;
	height: 30px;
	padding: 0 0 3px 0px;
}

span {
	display: inline-block;
	padding: 5px;
	background-color: violet;
	color: white;
}
